@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --bg-overlay-color: rgb(255, 76, 77);
    --primary-color: #FA4C4C;
    --secondary-color: #F56160;
    --hover-color: #EB2720;
    --text-color: white;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

.image-container {
    width: 100%;
    max-height: 700px;
    overflow: hidden;
}

    .image-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

.truncate {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip-inner {
    white-space: pre-wrap;
    max-width: 100px;
}

/* NAV */

.nav-container {
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 500;
}

#customNav {
    background-color: white;
}

    #customNav a {
        color: black;
    }

    #customNav ul a:hover {
        color: var(--hover-color);
    }

.btn-customSalir {
    color: black;
}

    .btn-customSalir:hover {
        background-color: var(--hover-color);
    }

.navbar .dropdown-menu .micuenta {
    color: black;
}

    .navbar .dropdown-menu .micuenta:hover {
        color: white;
        background-color: var(--hover-color);
    }

/* DEFAULT */

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.general-container {
    padding-top: 55px;
}

h1, h2, h3, h4 {
    color: black;
    font-family: 'Roboto';
    font-weight: 1000;
}

#logo {
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
}

#requisitos-form {
    margin: 80px 30px 30px 30px;
    padding: 30px;
    color: var(--primary-color);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

    #requisitos-form p {
        color: black;
    }

.urgency-label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.urgency-high {
    background-color: #c12222;
    color: white;
}

.urgency-medium {
    background-color: #ff8128;
    color: black;
}

.urgency-low {
    background-color: #ffd800;
    color: black;
}



#default-div {
    background-color: var(--primary-color);
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
}

#hero-sobre-nosotros {
    background-color: white;
    margin-top: 120px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#hero-info-default {
    padding-top: 50px;
}

#default-div h1, #default-div h2 {
    color: white;
    font-family: roboto;
}

.planet-icon {
    color: #FA4C4C;
    font-size: 40px;
    transition: color 0.3s ease;
}

    .planet-icon:hover {
        color: #D44141;
    }

.custom-login {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-top: 50px !important;
    margin-bottom: 360px;
}

.custom-table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.barra-lateral {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
    width: 250px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    max-height: 150px;
}

    .barra-lateral .menu a {
        padding: 10px 15px;
        color: #333;
        text-decoration: none;
        display: block;
    }

        .barra-lateral .menu a:hover {
            background-color: #e9ecef;
        }

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 30px;
}

.form-title {
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
}

.form-control {
    border-radius: 5px;
}

.general-container-profile {
    padding-top: 60px;
    display: flex;
}

.profile-image-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* BOTONES */

.btn-customQuiero {
    background-color: var(--primary-color);
    font-weight: 500;
    background-color: white;
    border-radius: 100px;
    margin-top: -50px;
    border: solid white;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
}

    .btn-customQuiero:hover {
        background-color: var(--hover-color);
        border: solid white;
    }

.btn-customBuscar {
    color: white;
    background-color: var(--primary-color);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

    .btn-customBuscar:hover {
        color: white;
        background-color: var(--hover-color);
    }

.btn-customDetalle {
    color: white;
    background-color: var(--primary-color);
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

    .btn-customDetalle:hover {
        color: white;
        background-color: var(--hover-color);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

.btn-customPublicaciones {
    color: white;
    background-color: var(--primary-color);
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    transition: background-color 0.3s ease;
}

    .btn-customPublicaciones:hover {
        color: white;
        background-color: var(--hover-color);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

.btn-customDonar {
    color: white;
    background-color: var(--primary-color);
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    transition: background-color 0.3s ease;
}

    .btn-customDonar:hover {
        background-color: var(--hover-color);
        color: white;
    }

.btn-customComoLlego {
    background-color: #5b8de1;
    color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    margin-top: -50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

    .btn-customComoLlego:hover {
        background-color: #7DA5F5;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.btn-customContinuar {
    color: white;
    background-color: var(--primary-color);
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

    .btn-customContinuar:hover {
        background-color: var(--hover-color);
        color: white;
    }

.btn-customEditar {
    color: white;
    background-color: var(--primary-color);
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

    .btn-customEditar:hover {
        background-color: var(--hover-color);
        color: white;
    }

.btn-customEliminar {
    color: black;
    background-color: #d5d5d5;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

    .btn-customEliminar:hover {
        color: black;
        background-color: #e9e9e9;
    }

.btn-customCrear {
    cursor: pointer;
    border: 2px solid #c12222;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #c12222;
    position: relative;
    z-index: 10;
    border-radius: 50px;
    overflow: hidden;
    transition: color 0.9s ease;
}

    .btn-customCrear:hover {
        border: 2px solid #c12222;
        color: white;
    }

    .btn-customCrear .overlay {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #c12222;
        z-index: -1;
        transition: left 1s ease;
    }

    .btn-customCrear:hover .overlay {
        left: 0;
    }


/* FOOTER */

.footer-container p,
.footer-container a,
.footer-container i {
    color: black !important;
}

    .footer-container a:hover,
    .footer-container a:hover i {
        color: #c12222 !important;
    }

/* DROPDOWN */

.custom-dropdown .salir-button {
    color: black;
}

    .custom-dropdown .salir-button:hover {
        color: white;
        background-color: var(--primary-color);
    }

custom-dropdown .micuenta {
    color: black;
}

.custom-dropdown .micuenta:hover {
    color: white !important;
    background-color: var(--primary-color) !important;
}

.swal2-confirm {
    width: 150px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 100px;
}

    .swal2-confirm:hover {
        background-color: var(--hover-color);
        color: white;
    }

.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
