@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

.image-container {
    width: 100%;
    max-height: 700px;
    overflow: hidden;
}

    .image-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

.truncate {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip-inner {
    white-space: pre-wrap;
    max-width: 100px;
}

/* NAV */


#customNav a {
    color: #c12222;
}

    #customNav a:hover {
        color: black;
    }

/* DEFAULT */

body {
    background-color: #c12222;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1, h2, h3, h4 {
    color: white;
    font-family: 'Roboto';
    font-weight: 1000;
}

#logo {
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
}

.btn-customDonar {
    color: #c12222;
    font-weight: 500;
    background-color: white;
    border-radius: 100px;
    margin-top: -50px;
    border: solid white;
}

.btn.btn-customDonar:hover {
    color: white;
    border: solid white;
}

/* FOOTER */

.footer-container p,
.footer-container a,
.footer-container i {
    color: #fff !important;
}

    .footer-container a:hover {
        color: #808080 !important;
    }
